<footer class="mt-5">

    <div class="card border-0 shadow-sm">

        <div class="card-body">

            <div class="row">

                <div class="col-md-6">
                    BK_FAM © {{ current_year }}
                    <br>
                    <small class="text-muted">
                        Sistema de Gestión Financiera Familiar
                    </small>

                </div>

                <div class="col-md-6 text-end">

                    <strong>
                        Versión 1.0
                    </strong>

                </div>

            </div>

        </div>

    </div>

</footer>